body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  h1 {
    color: #333;
    font-weight: 400;
  }
  h3 {
    color: #888;
    font-weight: 400;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    display: flex;
    align-items: center;
  }
  li:last-child {
    border-bottom: none;
  }
  a {
    color: #333;
  }
  a:hover {
    text-decoration: underline;
  }
  hr {
    border: 1px solid #ddd; /* Set the color and style of the line */
    margin: 20px 0; /* Adjust the margin as needed */
  }

  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
