{% extends 'base.html' %}
{% load static %}

{% block content %}
  <script src="{% static 'conversations/request.js' %}"></script>
  <script>
    async function handleSubmit(event) {
      const input = document.getElementById('start-conversation-form');
      const user1 = input.user1.value;
      const user2 = input.user2.value;
      const response = await createConversations(user1, user2);
      console.log(response);
    }
  </script>

  <button onclick="fetchConversations()">Click me!</button>
  <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  <h1>User Detail</h1>
  <p>Name: {{ user }}</p>
  <p>Email: {{ user.email }}</p>
  <form id="start-conversation-form" onSubmit="handleSubmit()" target="dummyframe">
    <input type="hidden" name="user1" value="{{ user.pk }}">
    <input type="hidden" name="user2" value="{{ user.pk }}">
    <button type="submit">Start Convesation</button>
  </form>
{% endblock %}
